{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" contenxt="">

  <title>Intelligent Automation</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><h4 style="color: orange	">Intelligent Classifier</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="{% static 'images/hcl.png' %}" / height=20px></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5"></h1>
		<!-- -->

		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% if 'classify' in   request.path %}
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Classifier</a>
				{% else %}
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Classifier</a>
                {% endif %}
                {% if 'dump' in  request.path %}
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Dump Upload</a>
				{% else %}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Dump Upload</a>
                {% endif %}
                {% if 'recommned' in  request.path %}
                <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Recommend</a>
                {% else %}
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Recommend</a>
                {% endif %}
			</div>
		</nav>

		<div class="tab-content" id="nav-tabContent">
            {% if 'classify' in   request.path %}
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% else %}
             <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% endif %}
			<!-- -->
                {% include 'partials/alerts.html' %}
				<form action="{% url 'classify' %}" method="POST">
                  {% csrf_token %}
					<div class="form-group">
						<br>
						<input type="text" name = "input" class="form-control" id="desc" aria-describedby="" placeholder="Description" required>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
                  <!--  <br>
                    <div>
                        <iframe src="http://localhost:5006/main" title="description" style="width: 100%;height:auto;">
                    </div> -->

				</form>

			<!-- -->
			</div>
            {% if 'dump' in  request.path %}
			<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% else %}
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% endif %}
			<!-- -->
				<form action="{% url 'dumpclassify' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<div class="form-group">
						<br>
						<input type="file" name ="myfile" class="form-control-file" id="dump">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
                <!--result cards-->
                {% if automatable %}
                <br><br><br><hr>
                    <div class='col-md-12 row col-md-offset-1'>
                        <div class='col-md-1'></div>
                        <div class="card col-md-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Automatable</h5>
                                <!--<h6 class="card-subtitle mb-2 text-muted">Total automatable from </h6>-->
                                <p class="card-text"><center><h2>{{ automatable }}</h2></center></p>
                            </div>
                        </div>
                        <div class='col-md-1'></div>
                        <div class="card col-md-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Non-Automatable</h5>
                               <!-- <h6 class="card-subtitle mb-2 text-muted">Total non automatable from </h6> -->
                                <p class="card-text"><center><h2>{{ nonautomatable }}</h2></center></p>
                            </div>
                        </div>
                    </div>
                   {% endif %}
			<!-- -->
			</div>
            {% if 'recommend' in  request.path %}
			<div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
             {% else %}
             <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              {% endif %}
			<!-- -->
           <center>

               <form action="{% url 'recommend' %}" method="post">
                   {% csrf_token %}
              <select name="dropdown">
                 {% if text %}
                  <option selected="selected" >{{ text }}</option>
                  {% else %}
                <option selected="selected" disabled>Please select the input:</option>
                  {% endif %}
                <option value="Power Supply status">Power Supply status</option>
                <option value="Link Utilization">Link Utilization</option>
                <option value="fetch list of accesspoint client details with IP address & hostnmaes">fetch list of accesspoint client details with IP address & hostnmaes</option>
                <option value="Report for snapshot, CDP and etc">Report for snapshot, CDP and etc</option>
              </select>
              <input type="submit" value="Select">
            </form>


            <br><br><br><br><br><hr>
               {% if recommendations %}
                    {% for listing in recommendations %}
                    <div class='col-md-12 row col-md-offset-1'>
                        <div class="card col-md-12" style="width: 18rem;color:green;border:2px solid blue;">
                            <div class="card-body">
                                <!--<h5 class="card-title">Automatable</h5>-->
                                <!--<h6 class="card-subtitle mb-2 text-muted">Total automatable from </h6>-->
                                <p class="card-text">{{ listing }}</p>
                            </div>
                    </div>
                </div>
                <br>
                {% endfor %}
               {% endif %}


           </center>
			<!-- -->
			</div>
		</div>

	  <!-- -->
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %} "></script>
</body>

</html>
